.ali{
    text-align: center;
}
#pru{
    padding-top: 10px;
}



.color{color: white;}
.linea{ height: 30px; background-color: #58D68D;}

.borrar{
        font-size:15px;
        border:0px;
        padding: 5px 10px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:black;
        border-radius: 5em;
        margin-right: 5%;     
        position: relative;
        background:#E74C3C;

}
#my-suggestions {
  position: absolute;
}

#my-suggestions .ui-autocomplete {
   foo: bar;
}

.docs blockquote.has-icon { position: relative; }
blockquote {

    /*background:    #f5fab9;*/
    background:    #edf1f9;
    margin: 10px 0 20px;
    padding: 10px 15px;
   

}

blockquote, p code { border-radius: 5px; }
